@model IEnumerable<AttendanceManagement.Models.Student>

@{
    ViewBag.Title = "Add Attendance";
}

<h2>Select the Students</h2>

@using (Html.BeginForm("Index", "ManageAttendance"))
{
    @Html.AntiForgeryToken()
    <table class="table">
        <tr></tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.USN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Section)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayName("Check")
            </th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.USN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Section)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>
                <td>
                    @Html.CheckBox("isPresent", true)

                </td>

            </tr>
        }
    </table>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add Attendance" class="btn btn-default" />
        </div>
    </div>


}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}